body {
  background-color: #004879; /* Capital One blue */
  color: white; /* Adjust text color for better contrast */
}

table {
  width: 100%;
  border-collapse: collapse;
  background-color: white; /* Revert table background to original color */
  color: black; /* Adjust text color for better contrast */
  z-index: 1001; /* Ensure it displays on top */
}

table th, table td {
  border: 1px solid #ddd;
  padding: 8px;
}

table tr {
  background-color: white; /* Ensure consistent background color */
}

table tr:hover {
  background-color: #f1f1f1; /* Optional: Add a hover effect with a light shade */
}

table th {
  padding-top: 12px;
  padding-bottom: 12px;
  text-align: left;
  background-color: #f2f2f2; /* Light shade for header */
  color: black; /* Adjust text color for better contrast */
}
button {
  background-color: #555;
}

button:hover {
  background-color: #d03f3f; /* Capital One red */
  outline: none;
}

button:focus {
  outline: none;
}